body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff; 
  color: hsl(0, 0%, 7%); 
  padding: 0;
}


.scrollspy-example {
  
  color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
}



header .navbar {
  background-color: #008080 !important; 
  border-bottom: 3px solid #FF6F00; 
}

header .navbar a {
  color: #F9FAFB !important;
  font-weight: 600;
  transition: color 0.3s ease;
}

header .navbar a:hover {
  color: #FF6F00 !important; 
}

h4 {
  color: rgb(1, 6, 15);
  font-weight: bold;
  margin: 20px 0;
  border-left: 6px solid #FF6F00; 
  padding-left: 10px;
}


.carousel-inner img {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(177, 116, 116, 0.404);
}


.carousel-caption p {
  background: rgba(36, 36, 36, 0.616); 
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.dropdown-menu{
    background-color: #008080;
}

.dropdown-menu .active {
  background-color: #FF6F00 !important;
  color: #fff !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #FF6F00 !important;
  color: #fff !important;
}

footer {
  background-color: #008080; 
  color: rgb(246, 246, 247);
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 3px solid #FF6F00; 
}


footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: #F97316; 
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  color: #FACC15; 
}

.imagen-hover {
  position: relative; /* Para posicionar el texto absolutamente */
  overflow: hidden; /* Oculta partes de la imagen si el texto es muy grande */
}
        
.imagen-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para que la imagen cubra el contenedor */
  transition: filter 0.3s ease; /* Transición para el difuminado */
}

.texto-superpuesto {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Para un fondo que resalte el texto */
  color: white;
  display: flex; /* Para centrar el texto */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición para la aparición */
  pointer-events: none; /* Evita interferencias con el hover de la imagen */
}

.imagen-hover:hover .texto-superpuesto {
  opacity: 1; /* Muestra el texto al pasar el cursor */
}

.imagen-hover:hover img {
  filter: blur(3px); /* Aplica el difuminado a la imagen */
}

.carousel-item{
  border-radius: 10px;
}

.font-size-sm{
  font-size: 12px;
}